html,
body {
  background: linear-gradient(135deg, #003a51, #202630);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
}

html {
  font-size: 1.5vh;
}

h1 {
  padding-bottom: 4vh;
  text-align: center;
  font-size: 6vh !important;
}

h2 {
  padding-bottom: 2vh;
  text-align: center;
  font-size: 5vh !important;
}

h3 {
  font-size: 4vh !important;
  font-weight: bold !important;
  margin-bottom: 2vh;
  padding-top: 2vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  background: #101010;
  border-radius: 0.5vh;
  padding: 0 0.5vh;
}